.phonetic {
  height: 45px;
}
.phonetic a {
  border: 1px solid #d0cccc;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 15px;
  margin-right: 8px;
  font-weight: 400;
}

a:hover {
  background: #829cb1;
  color: white;
}

.phoneticText {
  opacity: 0.5;
  font-weight: bold;
}
